# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

In [14]:
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [262]:
data_file = "../output_data/cities.csv"
data = pd.read_csv(data_file)
data.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.2906,-156.7887,42.82,87,100,10.36,US,1655932720
1,1,Puerto Ayora,-0.7393,-90.3518,78.76,90,59,10.00,EC,1655933253
2,2,Rikitea,-23.1203,-134.9692,74.95,77,39,12.10,PF,1655933254
3,3,Ushuaia,-54.8000,-68.3000,37.06,87,40,28.77,AR,1655933255
4,4,Cape Town,-33.9258,18.4232,60.12,92,88,2.30,ZA,1655933255

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
locations

       Lat     Lng
0    68.05   39.51
1   -20.41   57.70
2    77.48  -69.36
3    40.71  112.04
4   -33.93   18.42
..     ...     ...
543  33.97   36.66
544  24.01 -104.61
545  49.65    0.71
546  51.07  132.56
547  27.72  109.18

[548 rows x 2 columns]

In [263]:
locations = data[['Lat','Lng']]
humidity = data['Humidity']
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False,max_intensity=100,
                                 point_radius=2.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [264]:
weather_conditions = data.copy()
weather_conditions = weather_conditions.dropna()
weather_conditions = weather_conditions.loc[weather_conditions['Max Temp']>=71]
weather_conditions = weather_conditions.loc[weather_conditions['Max Temp']<=80]
weather_conditions = weather_conditions.loc[weather_conditions['Wind Speed']<=10]
weather_conditions = weather_conditions.loc[weather_conditions['Cloudiness']==0]
weather_conditions

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
165,165,Fortuna,40.5982,-124.1573,72.86,69,0,1.01,US,1655933518
217,217,Arraial Do Cabo,-22.9661,-42.0278,71.56,88,0,9.22,BR,1655933609
261,261,Abhā,18.2164,42.5053,71.42,68,0,0.00,SA,1655933695
299,299,Erzin,36.9559,36.2000,72.03,82,0,3.15,TR,1655933776
352,352,Anchorage,61.2181,-149.9003,77.86,47,0,9.22,US,1655933628
366,366,Podgorica,42.4411,19.2636,76.78,65,0,1.14,ME,1655933645
367,367,Umluj,25.0213,37.2685,79.79,61,0,9.91,SA,1655933874
379,379,Shingū,33.7333,135.9833,76.39,82,0,1.81,JP,1655935736
485,485,Barcelona,41.3888,2.1590,76.78,86,0,5.75,ES,1655936885

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [265]:
hotel_df = pd.DataFrame(columns={'Hotel Name'})
hotel_df

Empty DataFrame
Columns: [Hotel Name]
Index: []

In [266]:
prime_locations = weather_conditions[['Lat','Lng']]
prime_locations = prime_locations.reset_index()
lat = prime_locations['Lat']
lng = prime_locations['Lng']
lat_lng = zip(lat,lng)

In [267]:
hotel_list = []

for coordinates in lat_lng:
    query = (f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={coordinates[0]},{coordinates[1]}&radius=5000&type=hotel&keyword=hotel&key=AIzaSyAr6mkhbRjnfall2NHUwLGjwDKcXYCFxBg')
    response = requests.get(query)
    response_json = response.json()
    hotel_name = response_json['results'][1]['name']
    hotel_list.append(hotel_name)

In [268]:
hotel_list

['Bear River Casino Resort',
 'Orlanova Hotel',
 'فندق دبليو سويتس - W Suites Hotel',
 'Erzin İsos Termal',
 'Courtyard by Marriott Anchorage Airport',
 'Hilton Podgorica Crna Gora',
 'HP Red Sea Hotel',
 'Shingu UI Hotel',
 'Hotel Claris']

In [269]:
hotel_df['Hotel Name'] = hotel_list
hotel_df['City'] = weather_conditions['City'].values
hotel_df['Country'] = weather_conditions['Country'].values
#hotel_df = hotel_df.drop(columns={'Country'})
hotel_df

                                Hotel Name             City Country
0                 Bear River Casino Resort          Fortuna      US
1                           Orlanova Hotel  Arraial Do Cabo      BR
2        فندق دبليو سويتس - W Suites Hotel             Abhā      SA
3                        Erzin İsos Termal            Erzin      TR
4  Courtyard by Marriott Anchorage Airport        Anchorage      US
5               Hilton Podgorica Crna Gora        Podgorica      ME
6                         HP Red Sea Hotel            Umluj      SA
7                          Shingu UI Hotel           Shingū      JP
8                             Hotel Claris        Barcelona      ES

In [273]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = weather_conditions[["Lat", "Lng"]]

In [275]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))